@import '_bootstrap_settings.scss';

.languages {
  padding: $defaultPadding;

  .languages-content {
    display: flex;
    justify-content: space-evenly;

    .joke {
      max-height: 160px;
    }
  }

  .rating {
    i.fas {
      color: $yellow;
    }
  }
}
