<div class="languages">

  <div class="container">

    <div class="row">
      <div class="col">
        <h1> {{ 'LANGUAGES.TITLE_MENU' | translate }} </h1>
      </div>
    </div>

    <div class="row">
      <div class="col languages-content">
        <div *ngFor="let language of languages">
          <app-logo [logoInfo]="language.logoInfo"></app-logo>
          <div class="rating">
            <i *ngFor="let cssClass of language.stars" class="fa-star" [ngClass]="cssClass"></i>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


