<div class="container">

  <div class="row">
    <div class="col">
      <h4 class="title-photo">{{ 'PHOTOS.TITLE' | translate }}</h4>
    </div>
  </div>
</div>

<div id="carouselControls" class="carousel slide carousel-fade" data-ride="carousel">

  <ol class="carousel-indicators">
    <li *ngFor="let image of carrousselImages; let index = index"
        [ngClass]="{'active': index === 0 }"
        data-target="#carouselControls" [attr.data-slide-to]="index"></li>
  </ol>

  <div class="carousel-inner">
    <div *ngFor="let image of carrousselImages; let index = index"
         [ngClass]="{'active': index === 0 }"
         class="carousel-item">

      <picture>
        <source srcset="{{ image.sourceBig }}"
                media="(min-width: 1024px)">
        <img [src]="image.source" class="w-100" [alt]="image.caption.title">
      </picture>
      <div class="carousel-caption d-none d-md-block" [ngClass]="image.caption.cssClass">
        <h5>{{ image.caption.title }}</h5>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
