@import '_bootstrap_settings.scss';
@import "~bootstrap/scss/mixins/_breakpoints.scss";

:host {
}

.profile {
  background-color: $gray-900;
  color: $white;
  padding: 1rem 0;

  .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      margin: 1rem;
    }

    .profile-links {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        opacity: .6;
      }

      span {
        margin: .5rem;
      }
    }
  }

  .about-me {

    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    .list-group {
      width: 100%;
    }

    .list-group-item {
      background-color: $gray-900;
      border-color: rgba(255,255,255,.125);
    }
  }

}
