<div class="job-header">
  <div class="job-header-top">

    <h4>{{ jobExperience.jobTitle }}</h4>
    <div class="dates-link">
      <p>{{ jobExperience.dates }}</p>

    </div>

    <app-logo [logoInfo]="jobExperience.company.logo"></app-logo>

  </div>
  <div class="hr-space-between lg-override-style">
    <a *ngIf="jobExperience.company.url" [href]="jobExperience.company.url" target="_blank" rel="noopener">
      <i class="fas fa-link"></i>{{ jobExperience.company.url }}
    </a>

    <a [href]="jobExperience.location.googleMapUrl" target="_blank" rel="noopener">
      <i class="fas fa-map-marker-alt"></i>{{ jobExperience.location.name }}
    </a>
  </div>
</div>
