<div class="expertise">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1> {{ 'EXPERTISE.TITLE_CONTENT' | translate }} </h1>
        <div class="all-logos">
          <app-logo *ngFor="let logo of logos" [logoInfo]="logo"></app-logo>
        </div>
      </div>
    </div>
  </div>
</div>

