@import '_bootstrap_settings.scss';

.expertise {

  padding: $defaultPadding;

  .all-logos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    img {
      margin: 1rem;
      max-width: 10rem;
      max-height: 5rem;
    }
  }
}
