/* You can add global styles to this file, and also import other style files */
@import '_bootstrap_settings.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// 60px is used in home.component.ts to scroll to the good position
$navbarHeight: 60px;


.hr-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mauve-background {

  background-color: $mauve;

  h1 {
    color: $black;
  }
}


// Cookie service
.cc-banner.cc-theme-edgeless .cc-message {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

// This is to avoid setting ViewEncapsulation.None to the home component
.home {
  .mat-expansion-panel {
    background-color: transparent;
    box-shadow: none;
  }
}
