<div class="interests mauve-background">

  <div class="container">

    <div class="row">
      <div class="col">
        <h1> {{ 'INTERESTS.TITLE_MENU' | translate }} </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">


        <mat-tab-group [disableRipple]="true" [dynamicHeight]="true" [(selectedIndex)]="selectedTab">
          <mat-tab *ngFor="let interest of listInterests; let index = index;">
            <ng-template mat-tab-label>
              <div (mouseenter)="mouseEnter(index)">
                <i class="icon" [ngClass]="interest.iconClass"></i>
              </div>
            </ng-template>
            <div class="tab-content">

              <h4>{{ interest.content.title }}</h4>
              <div class="hr-space-between">
                <div class="tab-content-text">
                  <p *ngFor="let line of interest.content.body">{{ line }}</p>
                </div>
                <img class="d-none d-md-block" *ngIf="interest.content.image" [src]="interest.content.image" [alt]="interest.content.title"/>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>

      </div>
    </div>
  </div>

</div>

