@import '_bootstrap_settings.scss';

$fontSizeDefault: 1rem;


.myForm {

  p {
    font-size: $fontSizeDefault;
  }

  input[type="radio"] {
    font-size: $fontSizeDefault;

    & + span {
      font-size: $fontSizeDefault;
    }
  }

  h2 {
    margin-top: 2rem;
  }

  .check-icon {
    display: flex;
    align-items: center;

    &.success {
      color: $success;
    }

    &.error {
      color: $danger;
    }

    i {
      font-size: 2rem;
      margin-right: 1rem;

    }

    span {
      font-size: 1.2rem;
    }

  }

  .display-error {

    input,
    .input-group-text,
    .input-group-append,
    .custom-control {
      color: $danger;
      border-color: $danger;

      > button {
        border-color: $danger;
        color: $danger;
      }
    }

    .validation-messages {
      color: $danger;
    }
  }

  .bandwidth-speed {
    margin: 0.5rem 0;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
    }
    progressbar {
      margin-left: 1rem;
      margin-right: 1rem;
      width: 400px;
    }

  }

  .notifications-testing {
    .receive-notification {
      p {
        margin-bottom: 0;
      }
    }
  }

  .video-headers {

    p {
      margin-right: 1rem;
      margin-bottom: 0;
      margin-top: 0;
    }

    label {
      margin-right: 1rem;
    }

  }

  .video-container {

    margin-top: 1rem;

    .video-player {
      border: 1px solid black;
      width: 100% !important;
      max-width: 600px;
      height: auto !important;
    }
  }

  .download-section {
    margin-top: 1rem;
  }

}
