<div class="contact">

  <div class="container">

    <div class="row">
      <div class="col">
        <h1>{{ 'CONTACT.TITLE_CONTENT' | translate }}</h1>

        <form *ngIf="statusSendMessage === STATUS_SEND_MESSAGE.NOT_SENT" [formGroup]="contactForm" (ngSubmit)="onSubmit()" #ngForm="ngForm">

          <mat-form-field>
            <input matInput placeholder="{{ 'CONTACT.EMAIL' | translate }} *" formControlName="email">
            <mat-error *ngIf="ngForm.submitted && contactForm.get('email').invalid">
              <span *ngIf="contactForm.get('email').errors.required">{{ 'CONTACT.ERROR_REQUIRED' | translate }}</span>
              <span *ngIf="contactForm.get('email').errors.email">{{ 'CONTACT.ERROR_VALIDATION_EMAIL' | translate }}</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="{{ 'CONTACT.SUBJECT' | translate }} *" formControlName="subject">
            <mat-error *ngIf="ngForm.submitted && contactForm.get('subject').invalid">
              <span>{{ 'CONTACT.ERROR_REQUIRED' | translate }}</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="{{ 'CONTACT.MESSAGE' | translate }} *" formControlName="content"></textarea>
            <mat-error *ngIf="ngForm.submitted && contactForm.get('content').invalid">
              <span>{{ 'CONTACT.ERROR_REQUIRED' | translate }}</span>
            </mat-error>
          </mat-form-field>

          <button  mat-raised-button color="primary" type="submit">{{ 'CONTACT.SEND' | translate }}</button>

        </form>

        <p *ngIf="statusSendMessage === STATUS_SEND_MESSAGE.SUCCESS" >{{ 'CONTACT.SUCCESS_SENDING_MESSAGE' | translate }}</p>
        <p class="error" *ngIf="statusSendMessage === STATUS_SEND_MESSAGE.ERROR" >{{ 'CONTACT.ERROR_SENDING_MESSAGE' | translate }}</p>
        <p class="error" *ngIf="statusSendMessage === STATUS_SEND_MESSAGE.ERROR_THROTTLE" >{{ 'CONTACT.ERROR_THROTTLE_SENDING_MESSAGE' | translate }}</p>

      </div>
    </div>
  </div>
</div>
