:host {

  display: flex;
  justify-content: center;
  align-items: center;

  img {
    margin: 0.5rem;
  }

  img.size-70 {
    max-width: 70%;
  }

  img.size-50 {
    max-width: 50%;
  }

  img.height-50-px {
    max-height: 50px;
  }
}


