@import '_bootstrap_settings.scss';

.experience {
  padding: $defaultPadding;

  .main-title {
    margin-bottom: 1rem;
  }

  mat-expansion-panel {
    mat-expansion-panel-header {
      height: auto !important;

      mat-panel-title {
        flex-direction: column;
      }
    }
  }

  mat-divider {
    margin: 1rem 0 2rem 0;
  }

}
