<div class="experience mauve-background">

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="main-title"> {{ 'EXPERIENCE.TITLE_CONTENT' | translate }} </h1>
      </div>
    </div>

    <div *ngFor="let job of experiences; let last = last;" class="row">
      <div class="col single-experience">

        <mat-expansion-panel class="d-md-none">
          <mat-expansion-panel-header collapsedHeight="*" expandedHeight="*">
            <mat-panel-title>
              <app-job-header [jobExperience]="job"></app-job-header>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-job-description [jobExperience]="job" [isSmallScreen]="true"></app-job-description>

        </mat-expansion-panel>

        <div class="d-none d-md-block">
          <div class="row">

            <div class="col-md-4 logo-company">
              <app-job-header [jobExperience]="job"></app-job-header>
            </div>
            <div class="col-md-8">
              <app-job-description [jobExperience]="job" [isSmallScreen]="false"></app-job-description>

            </div>
          </div>
        </div>

        <mat-divider *ngIf="!last"></mat-divider>

      </div>
    </div>

  </div>
</div>

