@import 'styles.scss';

.navbar {
  min-height: $navbarHeight;

  .collapsing {
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
}


.nav-link {
  cursor: pointer;
}

.container {
  .row {
    .col {
      display: flex;
      justify-content: space-between;
    }
  }
}
